//- index.pug
extends layout

block header
  div
    nav.navbar.fixed-top
        div.container
          div.navbar-header
            a.navbar-brand(href='#')
              img.logo(src="./assets/img/logo.svg")
    div.slider
      div.bannerPhoto

block content
  p Testing
  p.text-right Right aligned text on all viewport sizes.